.corpo{
    background-color: floralwhite;
}

.cabeçalho{
    border: solid 3px rgba(224, 129, 129, 0.925);
    color: black;
    text-align: center;
}
p{
    text-align: center;
    color: black;
}
#link{ 
   font-size: 20px;
   color: green;
   text-decoration: none;
}
#iIMAGEM1{
    width: 700px;
}

.conteudo-listas{
background-color: rgb(154, 221, 140);
color: black;
text-decoration: italic
}
.rodape{
    background-color: rgb(255, 196, 118);
    color: rgb(138, 86, 17);
    text-align: center;
    border: double 2px rgb(138,86,17);
}